
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #eaeaea;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */
.font-style-title {
  font-family: "Roboto", sans-serif;
  color: #f8f9fa;
}

.font-style-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.d-flex {
  display: flex;
}

.ng-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 10px;
}

// Base styling for the ng-select input box
.ng-select.ng-select-styles {
  display: flex;
  gap: 10px;
  padding: 2px 5px;
  border: 1px solid #74777f;
  border-radius: 4px;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  width: clamp(100px, 200px, 250px);
  font-size: 14px;
  cursor: pointer;
}

// Dropdown option styling
.ng-dropdown-panel .ng-option {
  display: flex;
  padding: 5px 2px;
  margin: 10px 5px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-self: center;
}

.ng-dropdown-panel .ng-option:hover {
  background-color: #e6f7ff;
  color: #1890ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
