/* You can add global styles to this file, and also import other style files */
.font-style-title {
  font-family: 'Roboto', sans-serif;
  color: #f8f9fa;
}

.font-style-text {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}