@import './../../../styles.scss';

.headerSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #056839;
  position: sticky;
  top: 0;
  z-index: 10;

  .headerSectionLeft {
    width: 70%;
    // .applicationTitle{}
  }
  .headerSectionRight {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .myDetailsSection{
    gap: 5px;
    align-items: center;
    color: #fff;
  }

  button{
    padding: 0px !important;
    margin: 0px !important;
    border: none;
  }

  mat-icon{
    background: inherit !important;
    color: aliceblue;
    border-bottom: none !important; 
    background-color: #056839 !important;
    padding: 0px !important;
  }
}
