<header class="headerSection">
  <section class="headerSectionLeft">
    <h3 class="applicationTitle font-style-title">Web Application - SMART Project</h3>
  </section>
  <section class="headerSectionRight">
    <div class="notificationAndFullScreenSection">
      <button>Notification</button>
      <button>Full Screen</button>
    </div>
    <div class="myDetailsSection">
      <!-- Pass logged in user details here -->
      <span>temp pcmu.smart</span>
      <!-- Amd add user image if possible else initial -->
      <img src="assets/images/user.png" alt="User Image" class="user-image" />
    </div>
    <div class="logoutButtonSectiom">
      <!-- Add a power button image -->
      <button>Log In</button>
    </div>
  </section>
</header>
