@import "./../../../styles.scss";

.main{
    background-color: #fff;
    margin: 10px;
    height: 83vh;
}

.input-section{
    justify-content: center;
    gap: 30px;
    padding: 20px 30px;
    align-items: baseline;
}