.banner {
  box-shadow: 0 0 5px #00000029;
  background: #fff;
  padding: 0.625rem 0.938rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
}
